<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pugetsound.vichar"
    android:versionCode="1"
    android:versionName="1.0"  >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <!--
    	Explicitly use this camera feature so as to support cameras
	without support for other features. (If we request the camera
	permission but no features, Android assumes we need all of
	them.)
    -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Permission to access camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Allow opening network sockets -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Get permission to check which network access properties (e.g. active type: 3G/WiFi). -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Get permission to access WLAN MAC address. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- Get permission to disconnect/connect/change network connections -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <!-- Get permission to access HW ID. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/vi_char_robot"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity
	        android:name="edu.pugetsound.vichar.ar.ARGameActivity"
	        android:label="@string/ar_name"
	        android:configChanges="orientation|keyboardHidden"
	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".TwitterOAuthActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="+@string/title_activity_test" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.pugetsound.vichar.MainActivity" />
        </activity>
        <activity
            android:name=".LeaderboardActivity"
            android:label="@string/title_activity_leaderboard" >
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".RulesActivity"
            android:label="@string/title_activity_rules" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <!--<service android:name="SocketService" />-->
        <service android:name="HttpService" />
        <service android:name="NetworkingService" />
    </application>

</manifest>